---
import '@fortawesome/fontawesome-free/css/all.min.css';

import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import BookNowButton from "../components/BookNowButton.astro";
import Services from "../components/index/Services.astro";
import ServiceCard from "../components/index/ServiceCard.astro"
import About from "../components/index/About.astro";
import Testimonials from "../components/index/Testimonials.astro";
import TestimonialCard from '../components/index/TestimonialCard.astro';

import avatar from '../images/testi-avatar.jpg';
import about from "../images/gallery4.jpg"
import service1 from "../images/service-1.jpg"
import service2 from "../images/service-2.jpg"
import service3 from "../images/service-3.jpg"
---
<Layout title="Taverna Vasilis">
    <Hero heading="Taverna Vasilis" subheading="Griechische Spezialitäten">
        <BookNowButton href="/reservation"/>
    </Hero>

    <Services>
        <ServiceCard titleCard="Desserts" imageCard={service1}/>
        <div class="card w-96 bg-transparent shadow-xl xl:-mb-56">
            <ServiceCard titleCard="Grills" imageCard={service2}/>
        </div>
        <ServiceCard titleCard="Weine" imageCard={service3}/>
    </Services>

    <About title="Our Story"
           description="Willkommen bei Taverna Vasilis! Haben Sie Lust auf gutes Essen und auf eine schöne Atmosphäre? Dann sind Sie im Taverna Vasilis genau richtig, denn dies liegt uns gantz am Hertzen und wir haben ihn Sachen Gastfreundscaft den Riecher vorn. Alles in allem eine sehr gute Adresse für Liebhaber der griechischen Küche bei ausgewogenen Preis-Leistungsverhältnis. Genießen Sie die Harmonie ausgezeichneter Küche, Herzlichkeit und der Gastfreundschaft der Griechen."
           image={about} />

    <!--<Testimonials>-->
    <!--    <TestimonialCard image={avatar}>-->
    <!--        Ich wollte mich dafür bedanken, dass du mich letzten Abend zum-->
    <!--        fantastischen Abendessen eingeladen hast. Das Essen war außergewöhnlich.-->
    <!--    </TestimonialCard>-->
    <!--    <TestimonialCard image={avatar}>-->
    <!--        Ich wollte mich dafür bedanken, dass du mich letzten Abend zum-->
    <!--        fantastischen Abendessen eingeladen hast. Das Essen war außergewöhnlich.-->
    <!--    </TestimonialCard>-->
    <!--    <TestimonialCard image={avatar}>-->
    <!--        Ich wollte mich dafür bedanken, dass du mich letzten Abend zum-->
    <!--        fantastischen Abendessen eingeladen hast. Das Essen war außergewöhnlich.-->
    <!--    </TestimonialCard>-->
    <!--</Testimonials>-->
</Layout>