---
import '@fortawesome/fontawesome-free/css/all.min.css';
import Layout from '../layouts/Layout.astro';

export const prerender = false

import sendGrid from '@sendgrid/mail';
sendGrid.setApiKey(import.meta.env.SENDGRID_API_KEY);

async function sendEmail(data) {
  const { name, phone, email, person, date, time, message } = data;
  const emailMessage = `
    Name: ${name}
    Phone: ${phone}
    Number of Persons: ${person}
    Date: ${date}
    Time: ${time}
    Message: ${message}
  `;

  const msg = {
    to: 'ionvasa21@gmail.com', // Change to your recipient
    from: 'Taverna Vasilis Reservations <contact@pyoneers.dev>', // Change to your verified sender
    replyTo: email,
    subject: `New Reservation from ${name}`,
    text: emailMessage,
  };

  try {
    await sendGrid.send(msg);
    console.log('Email sent');
  } catch (error) {
    console.error('Email sending error:', error.response.body);
  }
}

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const formEntries = Object.fromEntries(formData);
  // Basic validation could be added here
  await sendEmail(formEntries);
}
---
<Layout title='Taverna Vasilis'>

  <div class="flex flex-row justify-center items-center md:flex-col md:mx-10 sm:justify-center">
    <div class="grid grid-cols-1 gap-4 my-10 text-center md:grid-cols-2">

      <div class="my-20 mx-10 text-xl">
        <form action="/reservation" method="POST">

          <h2 class="text-6xl text-center font-forum tracking-wider">Online Reservation</h2>

          <p class="my-4 text-orange-200">
            Booking request <a href="tel:+036243187850" class="link text-orange-400">+03624 3187850</a>
            or fill out the order form
          </p>

          <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
            <input class="input input-bordered input-primary w-full max-w-xs bg-transparent placeholder:text-base-content" type="text" name="name" placeholder="Your Name *" autocomplete="on" required>
            <input class="input input-bordered input-primary w-full max-w-xs bg-transparent placeholder:text-base-content" type="tel" name="phone" placeholder="Phone Number *" autocomplete="on" pattern="[0-9]*" title="Please enter only numeric characters" required>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-5">
            <div class="relative">
              <select class="input input-bordered input-primary w-full md:max-w-xs bg-transparent" name="person" required>
                <option value="1-person">1 Person</option>
                <option value="2-person">2 Person</option>
                <option value="3-person">3 Person</option>
                <option value="4-person">4 Person</option>
                <option value="5-person">5 Person</option>
                <option value="6-person">6 Person</option>
                <option value="7-person">7 Person</option>
              </select>
              <ion-icon name="person-outline" class="absolute right-3 top-1/2 transform -translate-y-1/2" aria-hidden="true"></ion-icon>
            </div>

            <div class="relative">
              <input class="input input-bordered input-primary w-full md:max-w-xs bg-transparent placeholder:text-base-content" type="date" name="date" required>
              <ion-icon name="calendar-clear-outline" class="absolute right-3 top-1/2 transform -translate-y-1/2" aria-hidden="true"></ion-icon>
            </div>

            <div class="relative">
              <select class="input input-bordered input-primary w-full md:max-w-xs bg-transparent" name="time" required>
                <option value="011:00am">11 : 00</option>
                <option value="012:00am">12 : 00</option>
                <option value="01:00pm">13 : 00</option>
                <option value="02:00pm">14 : 00</option>
                <option value="05:00pm">17 : 00</option>
                <option value="06:00pm">18 : 00</option>
                <option value="07:00pm">19 : 00</option>
                <option value="08:00pm">20 : 00</option>
                <option value="09:00pm">21 : 00</option>
                <option value="10:00pm">22 : 00</option>
              </select>
              <ion-icon name="time-outline" class="absolute right-3 top-1/2 transform -translate-y-1/2" aria-hidden="true"></ion-icon>
            </div>
          </div>

          <div>
            <input class="input input-bordered flex justify-center input-primary w-full bg-transparent placeholder:text-base-content mb-5" type="email" name="email" placeholder="Email * " autocomplete="on" required>
          </div>

          <textarea class="input input-bordered flex justify-start input-primary w-full bg-transparent h-20 mb-5 py-2 placeholder:text-base-content" name="message" placeholder="Message .  .  . " autocomplete="off"></textarea>

          <button type="submit" class="btn btn-primary mt-1">
            <span class="text-xl font-forum w-40">Book now</span>
          </button>

        </form>
      </div>

      <div class="font-forum text-center text-xl space-y-3 my-20 py-8 mx-10 border border-base-content rounded-xl">
        <h2 class="text-5xl text-center tracking-wide">Contact Us</h2>

        <p class="text-orange-200">Booking Request</p>

        <a href="tel:+03624 3187850" class="hover:underline">+03624 3187850</a>

        <p class="text-orange-200">Location</p>

        <a href="https://maps.app.goo.gl/sECpygX6nF4FQqpf7" class="hover:underline">Gothaer Str. 2, 99885 Ohrdruf</a>

        <p class="text-orange-200">Lunch Time</p>

        <p>
          Monday to Sunday <br>
          11:00 - 14:00

        </p>

        <p class="text-orange-200">Dinner Time</p>

        <p>
          Monday to Sunday <br>
          17:00 - 22:00
        </p>
      </div>
    </div>
  </div>
</Layout>
