---
import GalleryImage from "./GalleryImage.astro";
import image1 from "../../images/gallery1.jpg"
import image2 from "../../images/gallery2.jpg"
import image3 from "../../images/gallery3.jpg"
import image4 from "../../images/gallery4.jpg"
import image5 from "../../images/gallery5.jpg"
import image6 from "../../images/gallery6.jpg"
import image7 from "../../images/hero-phone.jpg"
import image8 from "../../images/_MGL8359.jpg"
import image9 from "../../images/_MGL8361.jpg"
import image10 from "../../images/_MGL8372 Kopie.jpg"
import image11 from "../../images/_MGL8376.jpg"
import image12 from "../../images/_MGL8392.jpg"
import image13 from "../../images/_MGL8397.jpg"
import image14 from "../../images/_MGL8404.jpg"
import image15 from "../../images/_MGL8410.jpg"
---

<div id="gallery" class="container px-5 py-2 lg:px-32 lg:pt-24 mb-20 max-w-full">
    <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-5/4 flex-wrap md:w-1/2">
            <GalleryImage image={image8}/>
            <GalleryImage image={image9}/>
            <GalleryImage image={image10}/>
            <GalleryImage image={image11}/>
        </div>
        <div class="flex w-5/4 flex-wrap md:w-1/2">
            <GalleryImage image={image12}/>
            <GalleryImage image={image13}/>
            <GalleryImage image={image14}/>
            <GalleryImage image={image15}/>
        </div>
        <div class="flex w-5/4 flex-wrap md:w-1/2">
            <GalleryImage image={image1}/>
            <GalleryImage image={image2}/>
            <GalleryImage image={image3}/>
            <GalleryImage image={image4}/>
        </div>
        <div class="flex w-5/4 flex-wrap md:w-1/2">
            <GalleryImage image={image5}/>
            <GalleryImage image={image6}/>
            <GalleryImage image={image7}/>
            <GalleryImage image={image2}/>
        </div>
    </div>
</div>